{
    "local": {
        "storageDir": "./storage"
    },
    "s3": {
        "bucket": "my-bucket",
        "region": "us-east-1",
        "accessKey": "YOUR_ACCESS_KEY",
        "secretKey": "YOUR_SECRET_KEY"
    },
    "glacier": {
        "vaultName": "my-vault",
        "region": "us-east-1",
        "accessKey": "YOUR_ACCESS_KEY",
        "secretKey": "YOUR_SECRET_KEY",
        "accountId": "-"
    },
    "samba": {
        "share": "//server/share",
        "username": "user",
        "password": "password",
        "domain": ""
    },
    "remote-fs": {
        "host": "localhost",
        "port": 22,
        "username": "user",
        "password": "password",
        "remoteDir": "/tmp/secure_storage"
    }
}
